* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #000;
}

#game-board {
  background-color: #333;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: #45964d;
  border-radius: 7px;
  /* border: 0.25vmin solid #000; */
}

.food {
  background-color: #ecb829;
  border-radius: 7px;
  /* border: 0.25vmin solid #000; */
}
